%header.main-header.container-fluid
  %nav.left-nav
    = link_to('Discover', '#', class: 'btn btn-sm')
    = link_to('Start a project', '#', class: 'btn btn-sm')
  = link_to '/', class: 'logo' do
    = image_tag 'main_header/logo.png', alt: 'KickStarter clone', width: 180
  %nav.right-nav
    = link_to('#', class: 'btn btn-sm') do
      Search
      = bs_icon 'search'
    - if user_signed_in?
      = link_to('LOGOUT', '#', class: 'btn btn-sm')
    - else
      = link_to('Login', new_user_session_path, class: 'btn btn-sm')
